RewriteCond %{REQUEST_FILENAME} !-f
  # условие перенаправления если запрос не на конкретный файл
RewriteCond %{REQUEST_FILENAME} !-d
  # если запрос не на конкретную папку
RewriteRule (.*) index.php?$1 [L,QSA]
  # используем index.php пробрасываем параметр из .htaccess
  # директорией выше [RewriteRule (.*) public/$1]
  # L - последнее правило; QSA - лишние get параметры не отбрасываются